<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body ng-app="myApp">

  <div ng-controller="tableCtrl">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <h2>Learn Angular.js</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
          <p>Name : <input type="text" ng-model="name"></p>
          <h2>Hello {{name}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><h2> test: <a href="http://jsonplaceholder.typicode.com/posts">$http.get("http://jsonplaceholder.typicode.com/posts") </a></h2></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <table  class="table" ng-controller="tableCtrl">
              <thead>
                <tr><th>Id</th><th>Title</th><th>Content</th></tr>
              </thead>
              <tbody>
                <tr ng-repeat="post in posts">
                    <td>{{post.id}}</td><td>{{post.title}}</td><td>{{post.body}}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

  </div>

  <script>
  var app = angular.module('myApp', []);

  // ref http://www.benlesh.com/2013/02/angularjs-creating-service-with-http.html
  app.factory('myService', function($http) {
   return {
     getData: function(url) {
       return $http.get(url).then(function(result) {
           return result.data;
         });
       }
     }
   });

  app.controller('tableCtrl', function($scope, myService) {
    myService.getData("http://jsonplaceholder.typicode.com/posts").then(function(data) {
      $scope.posts = data;
    });
  });
  </script>

</body>
</html>
